<h1>Editar <%= @ad.name %> </h1>

<%= form_for @ad, url: {action: "update"} do |f| %>
    <%= f.label :name, 'Nome' %>:<br />
    <%= f.text_field :name %><br />
    <%= f.label :description, 'Descrição' %>: <br />
    <%= f.text_area :description %><br />
    <%= f.label :price, 'Preço' %>:    <br />
    <%= f.text_field :price %><br />
    <%= f.label :seller_id, 'Vendedor' %>:   <br />
    <%= f.text_field :seller_id %><br />
    <%= f.label :email, 'E-mail' %>: <br />
    <%= f.text_field :email %><br />
    <%= f.label :img_url, 'Img url' %>:  <br />
    <%= f.text_field :img_url %><br />
    <%= f.submit "Atualizar"%>
<% end %>