<h1>Todos os Anúncios</h1>
<ul>
  <% for ad in @ads %>
  <li>
    [<a href="/ads/<%= ad.id %>/delete">Excluir</a> |
    <a href="/ads/<%= ad.id %>/edit">Editar</a>]
    <a href="/ads/<%= ad.id %>"> <%= ad.name %></a>
  </li>
  <% end %>

</ul>
