<p>
  <b>Nome: </b><%= @ad.name %>
</p>
<p>
  <b>Descrição: </b><%= @ad.description %>
</p>
<p>
  <b>Preço: </b><%= @ad.price %>
</p>
<p>
  <b>Id Vendedor: </b><%= @ad.seller_id %>
</p>
<p>
  <b>E-mail: </b><%= @ad.email%>
</p>
<p>
  <img src="<%= @ad.img_url %>" />
</p>
<p>
  <a href="/ads/<%= @ad.id %>/edit">Editar</a>
</p>