<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Anúncios: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'default.css' %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div>
        <h1>MeBay</h1>
        <ul id="nav">
          <li>
            <a href="/ads/">All Ads</a>
          </li>
          <li>
            <a href="/ads/new"> Add Ads</a>
          </li>
        </ul>
      </div>
    </div>

    <div id="content">
      <%= yield %>
    </div>
    <div id="clearfooter"></div>
  </div>
  <div id="footer"></div>
</body>
</html>